<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.knowing.debug.ui.editor.DPUSapphireEditor"
            contributorClass="de.lmu.ifi.dbs.knowing.debug.ui.editor.DPUActionBarContributor"
            default="true"
            extensions="dpu"
            id="de.lmu.ifi.dbs.knowing.ui.editor"
            name="DataProcessingUnit Editor">
      </editor>
      <editor
            class="de.lmu.ifi.dbs.knowing.debug.ui.editor.ProcessHistoryEditor"
            default="true"
            extensions="hst"
            id="de.lmu.ifi.dbs.knowing.ui.editor.history"
            name="ProcessHistory Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.lmu.ifi.dbs.knowing.debug.ui.knowing"
            name="Knowing">
      </category>
      <wizard
            category="de.lmu.ifi.dbs.knowing.debug.ui.knowing"
            class="de.lmu.ifi.dbs.knowing.debug.ui.wizard.NewDPUWizard"
            icon="src/main/resources/icons/dpu_16.png"
            id="de.lmu.ifi.dbs.knowing.ui.NewDPUWizard"
            name="New DataProcessingUnit">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.INode"
            class="de.lmu.ifi.dbs.knowing.debug.ui.adapter.NodeAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.debug.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.IEdge"
            class="de.lmu.ifi.dbs.knowing.debug.ui.adapter.EdgeAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.debug.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.IProperty"
            class="de.lmu.ifi.dbs.knowing.debug.ui.adapter.PropertyAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.debug.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.IParameter"
            class="de.lmu.ifi.dbs.knowing.debug.ui.adapter.ParameterAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.debug.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="dpu"
            id="de.lmu.ifi.dbs.knowing.ui.dpu"
            name="Data Processing Unit"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="hst"
            id="de.lmu.ifi.dbs.knowing.ui.history"
            name="DPU history"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.pde.ui.launcher.OSGiLauncherTabGroup"
            id="de.lmu.ifi.dbs.knowing.debug.ui.DPULauncherTabGroup"
            type="de.lmu.ifi.dbs.knowing.debug.core.DPULaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="de.lmu.ifi.dbs.knowing.debug.ui.launching.DPULaunchConfigurationTab"
            group="de.lmu.ifi.dbs.knowing.debug.ui.DPULauncherTabGroup"
            id="de.lmu.ifi.dbs.knowing.debug.ui.tab.DPULaunchConfiguration"
            name="DPU Configuration">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.lmu.ifi.dbs.knowing.debug.core.DPULaunchConfigurationType"
            icon="src/main/resources/icons/knowing-logo-trans-12.png"
            id="de.lmu.ifi.dbs.knowing.debug.ui.DPUlaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.lmu.ifi.dbs.knowing.debug.ui.views.DebugPresenterView"
            icon="src/main/resources/icons/knowing-logo-trans-16.png"
            id="de.lmu.ifi.dbs.knowing.debug.ui.views.DebugPresenterView"
            name="Debug Presenter">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Knowing IDE"
            name="Knowing IDE">
         <property
               name="aboutText"
               value="This is the text shown in the product about dialog.">
         </property>
         <property
               name="aboutImage"
               value="images/knowing-about.png">
         </property>
         <property
               name="appName"
               value="Knowing IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/knowing-logo-16.png,icons/knowing-logo-32.png">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
      </product>
   </extension>
</plugin>
