# generic files to ignore
# backup files (*~) and MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.out

#IDE files to ignore (Netbeans, Eclipse)
#Source directory should be ignored too
#.classpath
#.project
.settings

#ignore generated .class files
*.class

#ignore bin and target folders
bin/
target/

#Scala
*.scala_dependencies
*.cache
.cache

#except this file
!.gitignore
/nz.ac.waikato.cs.weka
