<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Algorithmen"
            id="de.lmu.ifi.dbs.medmon.algorithm">
      </category>
      <view
            name="Algorithm View"
            icon="icons/sample.gif"
            category="de.lmu.ifi.dbs.medmon.algorithm"
            class="de.lmu.ifi.dbs.medmon.algorithm.ui.views.AlgorithmView"
            id="de.lmu.ifi.dbs.medmon.algorithm.views.AlgorithmView">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.algorithm"
            class="de.lmu.ifi.dbs.medmon.algorithm.ui.views.ManagementView"
            id="de.lmu.ifi.dbs.medmon.algorithm.Management"
            name="Algorithmenverwaltung"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.medmon.algorithm.ui.editor.AlgorihmEditor"
            default="false"
            id="de.lmu.ifi.dbs.medmon.algorithm.AlgorithmEditor"
            name="Algorithm Editor">
      </editor>
   </extension>

</plugin>
