<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.lmu.ifi.dbs.medmon.therapy.category"
            name="Therapie">
      </category>
      <view
            category="de.lmu.ifi.dbs.medmon.therapy.category"
            class="de.lmu.ifi.dbs.medmon.therapy.view.ManagementView"
            id="de.lmu.ifi.dbs.medmon.therapy.view.DiseaseManagement"
            name="Krankheiten">
      </view>
   </extension>

</plugin>
