<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Knowing Target Platform" sequenceNumber="11">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:/de.lmu.ifi.dbs.medmon.medic.target/plugins}" type="Directory"/>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XX:MaxPermSize=256m -Xms256m -Xmx3000m</vmArgs>
</launcherArgs>
</target>
