<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.lmu.ifi.dbs.medmon.sensor">
      <sensor
            class="de.sendsor.accelerationSensor.sensor.Sensor3D"
            version="1.0">
      </sensor>
   </extension>
   <extension
         point="de.lmu.ifi.dbs.medmon.dataminig.core.processor">
      <algorithm
            class="de.sendsor.accelerationSensor.algorithm.KMeansAlgorithm">
      </algorithm>
      <algorithm
            class="de.sendsor.accelerationSensor.algorithm.PieAnalyzer">
      </algorithm>
      <algorithm
            class="de.sendsor.accelerationSensor.algorithm.SimpleAnalyzer">
      </algorithm>
      <algorithm
            class="de.sendsor.accelerationSensor.algorithm.ActivityAnalyzer">
      </algorithm>
   </extension>

</plugin>
