<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.lmu.ifi.dbs.medmon.ui.file">
         <menu
               label="Data Procesing">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  disabledIcon="IMG_TOOL_NEW_WIZARD_DISABLED"
                  hoverIcon="IMG_TOOL_NEW_WIZARD_HOVER"
                  icon="IMG_TOOL_NEW_WIZARD"
                  label="Open Wizard"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.developer.ui.LoadDPU"
                  label="Load DPU"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.medmon.developer.ui.editor.DPUFormEditor"
            default="false"
            icon="icons/dpu_16.png"
            id="de.lmu.ifi.dbs.medmon.developer.ui.editor.DPUFormEditor"
            name="DPU Form Editor">
      </editor>
      <editor
            class="de.lmu.ifi.dbs.medmon.developer.ui.editor.DPUEditor"
            id="de.lmu.ifi.dbs.medmon.developer.ui.editor.DPUEditor"
            name="DPU Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.lmu.ifi.dbs.medmon.developer.ui.datamining"
            name="Data Mining">
      </category>
      <view
            class="de.lmu.ifi.dbs.medmon.developer.ui.view.ProcessorView"
            id="de.lmu.ifi.dbs.medmon.developer.ui.view.ProcessorView"
            name="Processor View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.developer.ui.perspective.PerspectiveFactory"
            icon="icons/cluster_16.png"
            id="de.lmu.ifi.dbs.medmon.developer.perspective"
            name="Developer Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.developer.perspective">
         <view
               id="de.lmu.ifi.dbs.medmon.datamining.core.view.MonitorView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.8f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.developer.ui.handler.NewDataProcessingUnitCommand"
            id="de.lmu.ifi.dbs.medmon.developer.ui.NewDataProcessingUnit"
            name="New Data Processing Unit">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.developer.ui.handler.ClusterWizardHandler"
            id="de.lmu.ifi.dbs.medmon.developer.ui.ClusterWizardCommand"
            name="Clustering Wizard">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.developer.ui.handler.LoadDPUHandler"
            id="de.lmu.ifi.dbs.medmon.developer.ui.LoadDPU"
            name="Load DPU">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.lmu.ifi.dbs.medmon.developer.ui.datamining"
            class="de.lmu.ifi.dbs.medmon.developer.ui.wizard.ClusterWizard"
            descriptionImage="icons/cluster_48.png"
            icon="icons/cluster_16.png"
            id="de.lmu.ifi.dbs.medmon.developer.ui.ClusteringWizard"
            name="Train Cluster">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.developer.ui.datamining"
            class="de.lmu.ifi.dbs.medmon.developer.ui.wizard.DPUWizard"
            descriptionImage="icons/dpu_48.png"
            finalPerspective="de.lmu.ifi.dbs.medmon.developer.perspective"
            icon="icons/dpu_16.png"
            id="de.lmu.ifi.dbs.medmon.developer.ui.dpu"
            name="Data Processing Unit">
      </wizard>
      <category
            id="de.lmu.ifi.dbs.medmon.developer.ui.datamining"
            name="Data Mining">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.lmu.ifi.dbs.medmon.datamining.core.DPULaunchConfigurationType"
            icon="icons/dpu_16.png"
            id="de.lmu.ifi.dbs.medmon.developer.ui.DPUlaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.lmu.ifi.dbs.medmon.developer.ui.launch.DPULaunchConfigurationTabGroup"
            id="de.lmu.ifi.dbs.medmon.developer.ui.DPUlaunchConfigurationTabGroup"
            type="de.lmu.ifi.dbs.medmon.datamining.core.DPULaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
         <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.lmu.ifi.dbs.medmon.developer.ui.view.ProcessorView">
         <propertyCategory
               category="general"></propertyCategory>
         <propertyCategory
               category="parameter">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.lmu.ifi.dbs.medmon.developer.ui.view.ProcessorView">
         <propertyTab
               afterTab="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.parameter"
               category="general"
               id="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.general"
               label="General">
         </propertyTab>
         <propertyTab
               category="parameter"
               id="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.parameter"
               label="Parameter">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.lmu.ifi.dbs.medmon.developer.ui.view.ProcessorView">
         <propertySection
               class="de.lmu.ifi.dbs.medmon.developer.ui.property.GeneralPropertySection"
               id="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.general.section"
               tab="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.general" >
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.IDataProcessor">
            </input>
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.XMLDataProcessor">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.integerparameter.section"
               class="de.lmu.ifi.dbs.medmon.developer.ui.property.ClusterParameterPropertySection"
               id="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.clusterparameter.section"
               tab="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.parameter">
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.IDataProcessor">
            </input>
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.XMLDataProcessor">
            </input>
         </propertySection>
         <propertySection
               class="de.lmu.ifi.dbs.medmon.developer.ui.property.IntegerPropertySection"
               id="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.integerparameter.section"
               tab="de.lmu.ifi.dbs.medmon.datamining.processor.parameter.parameter">
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.IDataProcessor">
            </input>
            <input
                  type="de.lmu.ifi.dbs.medmon.datamining.core.processing.XMLDataProcessor">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
