<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.lmu.ifi.dbs.medmon.medic.actionSet"
            label="Patientenverwaltung Action Set"
            visible="false">
         <menu
               id="Patientenverwaltung"
               label="Patientenverwaltung ">
            <separator
                  name="PatientenverwaltungGroup">
            </separator>
         </menu>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.medic.import"
               icon="icons/16/gtk-go-down.png"
               id="de.lmu.ifi.dbs.medmon.medic.importAction"
               label="Import Patient"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.medic.export"
               icon="icons/16/gtk-go-up.png"
               id="de.lmu.ifi.dbs.medmon.medic.exportAction"
               label="Export Patient"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.medic.delete"
               icon="icons/16/gtk-remove.png"
               id="de.lmu.ifi.dbs.medmon.medic.deleteAction"
               label="Patient entfernen"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.medic.OpenPatientEditor"
               icon="icons/16/gtk-edit.png"
               id="de.lmu.ifi.dbs.medmon.medic.editAction"
               label="Patient bearbeiten"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.medic.create"
               icon="icons/16/gtk-add.png"
               id="de.lmu.ifi.dbs.medmon.medic.createAction"
               label="Patient erstellen"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      
      <category
            name="Medic"
            id="de.lmu.ifi.dbs.medmon.medic.ui.medmon">
      </category>
      
      <view
            name="Patienten"
            icon="icons/patients_16.png"
            category="de.lmu.ifi.dbs.medmon.medic.ui.category"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.PatientListView"
            id="de.lmu.ifi.dbs.medmon.medic.ui.PatientListView">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.PatientManagementView"
            icon="icons/patients_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.Management"
            name="Patientenverwaltung"
            restorable="true">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.CommentView"
            icon="icons/comment_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.views.CommentView"
            name="Comment View">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.category"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.DataView"
            icon="icons/data_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.DataView"
            name="Sensordaten"
            restorable="true">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.DataTreeView"
            id="de.lmu.ifi.dbs.medmon.medic.ui.DataTreeView"
            name="Baumansicht"
            restorable="true">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.DataManagementView"
            icon="icons/data_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.DataManagement"
            name="Datenverwaltung"
            restorable="true">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.MedicProcessingView"
            icon="icons/medic_processing_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.views.MedicProcessingView"
            name="Medic Processing">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
            icon="IMG_ETOOL_HOME_NAV"
            id="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
            name="Startseite"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.HomePerspective"
            icon="IMG_ETOOL_HOME_NAV"
            id="de.lmu.ifi.dbs.medmon.medic.ui.HomePerspective"
            name="Startseite">
      </perspective>
      <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.DefaultPerspectiveFactory"
            icon="icons/visualize_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.default"
            name="Visualize">
      </perspective>
       <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.PatientPerspectiveFactory"
            icon="icons/patients_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.PatientManagement"
            name="Patienten" >
      </perspective>
      <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.ManagementPerspective"
            icon="icons/medic_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ManagementPerspective"
            name="Verwaltung">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.ui.default">
         <view
               id="de.lmu.ifi.dbs.medmon.datamining.core.view.MonitorView"
               minimized="false"
               ratio="0.5f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.medic.ui.DataTreeView"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.medic.ui.views.CommentView"
               minimized="false"
               ratio="0.5f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.PatientManagement">
         <actionSet
               id="de.lmu.ifi.dbs.medmon.medic.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.ManagementPerspective">
         <view
               id="de.lmu.ifi.dbs.medmon.medic.Management"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.medic.ui.DataManagement"
               minimized="false"
               relationship="stack"
               relative="de.lmu.ifi.dbs.medmon.medic.Management"
               showTitle="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.medic.ui.views.MedicProcessingView"
               minimized="false"
               relationship="stack"
               relative="de.lmu.ifi.dbs.medmon.medic.Management"
               showTitle="true">
         </view>
      </perspectiveExtension>
       <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.ui.HomePerspective">
         <view
               id="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
               minimized="false"
               moveable="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.medmon.medic.ui.editor.PatientEditor"
            default="false"
            icon="icons/patients_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.PatientEditor"
            name="Patient Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.OpenDefaultPerspectiveHandler"
            id="de.lmu.ifi.dbs.medmon.medic.OpenDefaultPerspective"
            name="Open default visualizer perspective">
      </command>
      
       <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.OpenPatientEditorHandler"
            id="de.lmu.ifi.dbs.medmon.medic.OpenPatientEditor"
            name="Patienteditor oeffnen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.NewPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.create"
            name="Patient anlegen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.DeletePatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.delete"
            name="Patient entfernen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ImportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.import"
            name="Patient importieren">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ExportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.export"
            name="Patient exportieren">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.CallImportWizard"
            id="de.lmu.ifi.dbs.medmon.sensor.CallImportWizard"
            name="Call ImportWizard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.lmu.ifi.dbs.medmon.ui.file">
         <menu
               id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu"
               label="Patienten">
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.create"
                  icon="icons/add-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.new"
                  label="Neuer Patient"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.import"
                  icon="icons/import-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.export"
                  icon="icons/export-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.export"
                  label="Export"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.lmu.ifi.dbs.medmon.medic.ui.patientmenu">
         <menu
               label="Analyse">
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.OpenDefaultPerspective"
                  icon="icons/visualize_16.png"
                  label="Analyse Ansicht"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.medic"
            name="Analyse">
      </category>
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.management"
            name="Verwaltung">
      </category>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.medic"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.QuickAnalyseWizard"
            icon="icons/visualize_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.qickanalyseWizard"
            name="Schnellanalyse">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.medic"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.TrainClusterWizard"
            icon="icons/cluster_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.clusterWizard"
            name="Vergleichsdaten erzeugen">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.CreatePatientWizard"
            descriptionImage="icons/add-patient_48.png"
            icon="icons/add-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.createPatientWizard"
            name="Patient erstellen">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.ExportPatientWizard"
            descriptionImage="icons/export-patient_48.png"
            icon="icons/export-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.patientExportWizard"
            name="Patient exportieren">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.ImportPatientWizard"
            descriptionImage="icons/import-patient_48.png"
            icon="icons/import-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.patientImportWizard"
            name="Patient importieren">
      </wizard>
   </extension>

</plugin>
