<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.knowing.ui.editor.DPUSapphireEditor"
            contributorClass="de.lmu.ifi.dbs.knowing.ui.editor.DPUActionBarContributor"
            default="true"
            extensions="dpu"
            id="de.lmu.ifi.dbs.knowing.ui.editor"
            name="DataProcessingUnit Editor">
      </editor>
      <editor
            class="de.lmu.ifi.dbs.knowing.ui.editor.ProcessHistoryEditor"
            default="true"
            extensions="hst"
            id="de.lmu.ifi.dbs.knowing.ui.editor.history"
            name="ProcessHistory Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.lmu.ifi.dbs.knowing.ui.knowing"
            name="Knowing">
      </category>
      <wizard
            category="de.lmu.ifi.dbs.knowing.ui.knowing"
            class="de.lmu.ifi.dbs.knowing.ui.wizard.NewDPUWizard"
            icon="icons/dpu_16.png"
            id="de.lmu.ifi.dbs.knowing.ui.NewDPUWizard"
            name="New DataProcessingUnit">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.knowing.ui.knowing"
            class="de.lmu.ifi.dbs.knowing.ui.wizard.NewProcessorWizard"
            id="de.lmu.ifi.dbs.knowing.ui.NewProcessorWizard"
            name="New Processor">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.INode"
            class="de.lmu.ifi.dbs.knowing.ui.adapter.NodeAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.IEdge"
            class="de.lmu.ifi.dbs.knowing.ui.adapter.EdgeAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.model.IProperty"
            class="de.lmu.ifi.dbs.knowing.ui.adapter.PropertyAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.knowing.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="dpu"
            id="de.lmu.ifi.dbs.knowing.ui.dpu"
            name="Data Processing Unit"
            priority="normal">
      </content-type>
   </extension>
</plugin>
