<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Monitor Category"
            id="de.lmu.ifi.dbs.medmon.visualizer">
      </category>
      <view
            allowMultiple="true"
            category="de.lmu.ifi.dbs.medmon.visualizer"
            class="de.lmu.ifi.dbs.medmon.visualizer.ui.views.MonitorView"
            icon="icons/sample.gif"
            id="de.lmu.ifi.dbs.medmon.visualizer.views.MonitorView"
            name="Monitor View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.visualizer.ui.perspectives.DefaultPerspectiveFactory"
            id="de.lmu.ifi.dbs.medmon.visualizer.default"
            name="Visualize">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.visualizer.default">
         <view
               id="de.lmu.ifi.dbs.medmon.visualizer.views.MonitorView"
               minimized="false"
               ratio="0.5f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.sensor.DataTreeView"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.algorithm.views.AlgorithmView"
               minimized="false"
               ratio="0.5f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.visualizer.ui.handler.OpenDefaultPerspectiveHandler"
            id="de.lmu.ifi.dbs.medmon.visualizer.OpenDefaultPerspective"
            name="Open default visualizer perspective">
      </command>
   </extension>

</plugin>
