<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_window_16.gif"
            visible="true">
         <run
               class="de.lmu.ifi.dbs.medmon.medic.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.lmu.ifi.dbs.medmon.medic.rcp.application"
            name="Medmon for Medics">
         <property
               name="appName"
               value="Medmon for Medics">
         </property>
      </product>
   </extension>

</plugin>
