<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.lmu.ifi.dbs.knowing.core.test.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="knowing.test.product"
            name="Knowing SWT Test">
         <property
               name="appName"
               value="Knowing Test">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.knowing.core.test.PerspectiveFactory"
            id="knowing.test.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.lmu.ifi.dbs.knowing.swt.presenterView"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Views"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.exit"
               label="Exit"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="KnowingTestRCP"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.lmu.ifi.dbs.knowing.core.test.id1"
            name="Knowing Test RCP">
         <property
               name="appName"
               value="Knowing Test RCP">
         </property>
      </product>
   </extension>

</plugin>
