<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.sensor.core.util.SensorAdapter"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.SensorAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.datamining.core.cluster.ClusterUnit"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.ClusterAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.base.ui.adapter.PatientClusterAdapter"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.ClusterAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
