<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.lmu.ifi.dbs.medmon.dataminig.core.processor" name="Data Processor" schema="schema/de.lmu.ifi.dbs.medmon.datamining.core.processor.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.lmu.ifi.dbs.medmon.datamining.core.launch.DPULaunchDelegate"
            delegateDescription="Launches a DataProcessingUnit"
            delegateName="DPU Launcher"
            id="de.lmu.ifi.dbs.medmon.datamining.core.DPULaunchConfigurationType"
            modes="run"
            name="DPU File">
      </launchConfigurationType>
   </extension>
   <extension
         point="de.lmu.ifi.dbs.medmon.dataminig.core.processor">
      <filter
            class="de.lmu.ifi.dbs.medmon.datamining.core.filter.BypassFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.lmu.ifi.dbs.medmon.developer.ui.datamining"
            class="de.lmu.ifi.dbs.medmon.datamining.core.view.MonitorView"
            icon="icons/monitor_16.png"
            id="de.lmu.ifi.dbs.medmon.datamining.core.view.MonitorView"
            name="Monitor View">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.datamining.core.processing.XMLDataProcessor"
            class="de.lmu.ifi.dbs.medmon.datamining.core.adapter.XMLProcessorAdapterFactory">
         <adapter
               type="de.lmu.ifi.dbs.medmon.datamining.core.property.DataProcessorElement">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>ry>
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.datamining.core.processing.IDataProcessor"
            class="de.lmu.ifi.dbs.medmon.datamining.core.adapter.ProcessorAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySheetPage">
         </adapter>
      </factory>
   </extension>


</plugin>
