<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.lmu.ifi.dbs.medmon.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.lmu.ifi.dbs.medmon.rcp.application"
            name="Medmon">
         <property
               name="appName"
               value="Medmon">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.lmu.ifi.dbs.medmon.rcp.MainToolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Entfernen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Drucken"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
