<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.lmu.ifi.dbs.medmon.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.rcp.Perspective"
            icon="IMG_ETOOL_HOME_NAV"
            id="de.lmu.ifi.dbs.medmon.rcp.HomePerspective"
            name="Startseite">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.lmu.ifi.dbs.medmon.rcp.application"
            name="Medmon">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Medmon">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.lmu.ifi.dbs.medmon.rcp.view.HomeView"
            id="de.lmu.ifi.dbs.medmon.rcp.home"
            name="Startseite"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.rcp.HomePerspective">
         <view
               id="de.lmu.ifi.dbs.medmon.rcp.home"
               minimized="false"
               moveable="false"
               ratio="0.95f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Programm">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  icon="icons/16/gtk-add.png"
                  label="Neue Funktionen installieren"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  icon="icons/16/stock_internet.png"
                  label="Update"
                  style="push">
            </command>
            <separator
                  name="de.lmu.ifi.dbs.medmon.rcp.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/16/gtk-cancel.png"
                  label="Beenden"
                  style="push">
            </command>
         </menu>
         <menu
               label="Ansicht">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Perspektiven"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="View oeffnen"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.lmu.ifi.dbs.medmon.rcp.MainToolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Speichern"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Entfernen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Drucken"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
