<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<!-- FOR AKKA INTERNAL USE ONLY -->
<configuration scan="false" debug="true">

	<property name="USER_HOME" value="/home/muki" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%level][%d{HH:mm:ss.SSS}] - %msg %n</Pattern>
		</layout>
	</appender>
	<appender name="R" class="ch.qos.logback.core.FileAppender">
		<File>${USER_HOME}/knowing.log</File>
		<encoder>
			<pattern>[%4p][%d{HH:mm:ss}][%t] %m%n</pattern>
		</encoder>
	</appender>
	<logger name="akka" level="DEBUG" />
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="R" />
	</root>
</configuration>