<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Patientmanagement"
            id="de.lmu.ifi.dbs.medmon.PatientView">
      </category>
      <view
            name="Patients List View"
            icon="icons/sample.gif"
            category="de.lmu.ifi.dbs.medmon.PatientView"
            class="de.lmu.ifi.dbs.medmon.patient.views.PatientListView"
            id="de.lmu.ifi.dbs.medmon.patient.views.PatientListView">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.PatientView"
            class="de.lmu.ifi.dbs.medmon.patient.views.ManagementView"
            icon="icons/sample.gif"
            id="de.lmu.ifi.dbs.medmon.patient.Management"
            name="Patientenverwaltung"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.patient.PatientManagement">
         <actionSet
               id="de.lmu.ifi.dbs.medmon.patient.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.patient.ManagementPerspective">
         <view
               id="de.lmu.ifi.dbs.medmon.patient.Management"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.sensor.Management"
               minimized="false"
               relationship="stack"
               relative="de.lmu.ifi.dbs.medmon.patient.Management"
               showTitle="true">
         </view>
         <view
               id="de.lmu.ifi.dbs.medmon.algorithm.Management"
               minimized="false"
               relationship="stack"
               relative="de.lmu.ifi.dbs.medmon.patient.Management"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.patient.perspective.PatientPerspectiveFactory"
            icon="IMG_OBJS_INFO_TSK"
            id="de.lmu.ifi.dbs.medmon.patient.PatientManagement"
            name="Patienten">
      </perspective>
      <perspective
            class="de.lmu.ifi.dbs.medmon.patient.perspective.ManagementPerspective"
            id="de.lmu.ifi.dbs.medmon.patient.ManagementPerspective"
            name="Verwaltung">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.medmon.patient.editor.PatientEditor"
            default="false"
            id="de.lmu.ifi.dbs.medmon.patient.PatientEditor"
            name="Patient Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.OpenPatientEditorHandler"
            id="de.lmu.ifi.dbs.medmon.patient.OpenPatientEditor"
            name="Patienteditor oeffnen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.NewPatientHandler"
            id="de.lmu.ifi.dbs.medmon.patient.create"
            name="Patient anlegen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.DeletePatientHandler"
            id="de.lmu.ifi.dbs.medmon.patient.delete"
            name="Patient entfernen">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.ImportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.patient.import"
            name="Patient importieren">
      </command>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.ExportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.patient.export"
            name="Patient exportieren">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.lmu.ifi.dbs.medmon.patient.actionSet"
            label="Patientenverwaltung Action Set"
            visible="false">
         <menu
               id="Patientenverwaltung"
               label="Patientenverwaltung ">
            <separator
                  name="PatientenverwaltungGroup">
            </separator>
         </menu>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.patient.import"
               icon="icons/16/gtk-go-down.png"
               id="de.lmu.ifi.dbs.medmon.patient.importAction"
               label="Import Patient"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.patient.export"
               icon="icons/16/gtk-go-up.png"
               id="de.lmu.ifi.dbs.medmon.patient.exportAction"
               label="Export Patient"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.patient.delete"
               icon="icons/16/gtk-remove.png"
               id="de.lmu.ifi.dbs.medmon.patient.deleteAction"
               label="Patient entfernen"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.patient.OpenPatientEditor"
               icon="icons/16/gtk-edit.png"
               id="de.lmu.ifi.dbs.medmon.patient.editAction"
               label="Patient bearbeiten"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
         <action
               definitionId="de.lmu.ifi.dbs.medmon.patient.create"
               icon="icons/16/gtk-add.png"
               id="de.lmu.ifi.dbs.medmon.patient.createAction"
               label="Patient erstellen"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               style="push"
               toolbarPath="PatientenverwaltungGroup">
         </action>
      </actionSet>
   </extension>

</plugin>
