<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Patientenverwaltung Action Set"
            visible="false"
            id="de.lmu.ifi.dbs.medmon.patient.actionSet">
         <menu
               label="Patientenverwaltung "
               id="Patientenverwaltung">
            <separator
                  name="PatientenverwaltungGroup">
            </separator>
         </menu>
         <action
               label="Patient laden "
               icon="icons/sample.gif"
               class="de.lmu.ifi.dbs.medmon.patient.actions.LoadPatient"
               tooltip="Hello, Eclipse world"
               menubarPath="Patientenverwaltung/PatientenverwaltungGroup"
               toolbarPath="PatientenverwaltungGroup"
               id="de.lmu.ifi.dbs.medmon.patient.actions.LoadPatient">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Patientmanagement"
            id="de.lmu.ifi.dbs.medmon.PatientView">
      </category>
      <view
            name="Patients List View"
            icon="icons/sample.gif"
            category="de.lmu.ifi.dbs.medmon.PatientView"
            class="de.lmu.ifi.dbs.medmon.patient.views.PatientListView"
            id="de.lmu.ifi.dbs.medmon.patient.views.PatientListView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.patient.PatientManagement">
         <actionSet
               id="de.lmu.ifi.dbs.medmon.patient.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.patient.perspective.PatientPerspectiveFactory"
            icon="IMG_OBJS_INFO_TSK"
            id="de.lmu.ifi.dbs.medmon.patient.PatientManagement"
            name="Patienten">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.lmu.ifi.dbs.medmon.patient.editor.PatientEditor"
            default="false"
            id="de.lmu.ifi.dbs.medmon.patient.PatientEditor"
            name="Patient Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.patient.handler.OpenPatientEditorHandler"
            id="de.lmu.ifi.dbs.medmon.patient.OpenPatientEditor"
            name="Patienteditor oeffnen">
      </command>
      <command
            id="de.lmu.ifi.dbs.medmon.patient.SavePatient"
            name="Patient Speichern">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.lmu.ifi.dbs.medmon.patient.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Patient Speichern"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
